.texto-explicativo {
    padding: 5px;
    font-size: 20px;
}

.container-texto-explicativo{
    top: 250px;
}

.explicação{
    padding: 5px;
    font-size: 20px;
}

#imagem-promocionl{
    width: 600px;
    height: 500px;
    left: 10px;
    bottom: 50px;
    position: relative;
}